sudo: false
language: node_js

node_js:
  - '5.0'
  - '4.2'
  - '4.1'
  - '4.0'
  - '0.12'
  - '0.10'

script: "npm run-script test-travis"
after_script: "npm install coveralls && cat ./coverage/lcov.info | coveralls"
